* {
  margin: 0;
  padding: 0;
}
#main {
  position: relative;

  display: flex;
  width: 100vw;
  height: 100vh;

  background-color: rgb(183, 212, 203);
}

#playBox {
  flex: 4;
  /* margin: 2vh, 2vw; */
  position: relative;

  /* background-color: rgb(83, 145, 145); */
  background-color: rgb(183, 212, 203);
  box-shadow: inset 0 0 3rem black;
  border-radius: 3px;
}

/* #playBox {
  position: relative;

  height: 90vh;
  width: 100vh;
  top: 5vh;
  left: 10vh;

  background-color: rgb(183, 212, 203);
  box-shadow: 0 0 3rem black;
} */

#infoBox {
  flex: 1;
  margin: 2vh, 2vw;

  background-color: cadetblue;
}

#infoBox span {
  font-size: 1rem;
}

.christmas-tree {
  background-image: url(../images/ChristmasTree.png);
  background-size: contain;
  filter: contrast(50%);
  background-color: rgba(225, 0, 255, 0.2);
}

.head {
  background-image: url(../images/ChristmasTree.png);
  background-size: contain;
  filter: contrast(200%);
  background-color: rgba(0, 255, 1, 0.3);
}
